.h1{
    font-family: 'Oswald', sans-serif;
    font-size:70px;
    background-color: aqua;
    width: 200px;
  
    border-style:solid;
    border-color: black;
  border-radius: 8px;
}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
li{
    font-size: 20px;
}
h2{ 
    font-size: 29px;
color: rgb(255, 121, 11);
    width:350px;
    background-color:lightyellow;
    border: 2px solid black;
}
table{
 border: 2px solid rgb(218, 12, 139);
}
#link{
    font-size: 29px;
color: rgb(255, 121, 11);
    width:350px;
    background-color:lightyellow;
    border: 2px solid black;
    font-style: italic;
}
a{
    color: white;
    text-decoration: none;
}
div{
    font-family: 'italic', cursive;
    font-size: 25px;
}
details{
    font-size: 25px;
}
/* Use of padding and margin */
.p{
    background-color: rgb(3, 62, 255);
    border: 2px solid black;
    border-radius: 8px;
    width: fit-content;
    margin-left:1190px;
    padding:10px 30px;
}
.p1{
    background-color: rgb(3, 62, 255);
    border: 2px solid black;
    border-radius: 8px;
    width: fit-content;
    margin-left:1040px;
    padding:10px 30px;
    font-size: 20px;
}
.navbar{
    background-color: black;
    border: 2px solid black;
    border-radius: 12px;
}
  .navbar ul{
        list-style: none;
        background-color: black;
        overflow: auto;
    }
.navbar li{
    float: left;
    padding: 3px 4px;
    margin: 10px 10px;
}
.navbar li a:hover{
    color: aqua;
}
img{
    margin-top:25px;
}
#search{
    font-style: normal;
    color: white;
    float: right;
}
.navbar input{
margin: 8px 10px;
padding: 2px 36px;
}